.header {
  height: 60px;
  display: flex;
  align-items: center;
  background: black;

  .logo {
    all: unset;
    margin: 0;
    a {
      color: white;
      font-weight: bold;
      font-size: 20px;
      padding: 0 25px;
    }
  }

  .nav {
    height: 100%;
    display: flex;
    align-items: center;

    .navItem {
      display: flex;
      align-items: center;
      height: 100%;
      color: white;
      padding: 0 10px;;
      font-size: 16px;
      border: 0;
      border-bottom: 4px solid transparent;
      transition: all .5s ease;

      &:hover {
        border-color: rgba(255,255,255, .7);
        background: rgba(255,255,255, .1);
      }

      &.active {
        border-color: rgba(255,255,255, .9);
        background: rgba(255,255,255, .2);
      }
    }
  }


}
