ul {
  list-style: none;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;

  li {
    background: lightblue;
    width: 30%;
    margin: 10px;
    padding: 15px;
    overflow: hidden;
    max-height: 300px;

     a {
       color: black;
       font-weight: bold;
       display: block;
       overflow: hidden;
       height: 100%;
       width: 100%;
     }
  }
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
