ul {
  list-style: none;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;

  li {
    background: lightblue;
    width: 30%;
    margin: 10px;
    padding: 15px;

     a {
       color: black;
       font-weight: bold;
     }
  }
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
