.welcome div {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  padding: 15px;
  color: #440b0b;
  font-weight: bold;
  text-align: center;

  .loginBtn {
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 15px;
    text-transform: uppercase;
    opacity: .8;
    transition: opacity .5s ease-in;
    color: white;
    background: #f09433;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1);
    border-radius: 3px;

    &:hover {
      opacity: 1;
      transition: opacity .3s ease-in;
    }
  }
}
