* {
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}


* div.container {
    width: 100%;
    height: 100%;
    padding: 0 15px;
}
